<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HomeWork_14010229.Properties.Settings.HomeWork_Session10_AmoozeshkadeConnectionString"
            connectionString="Data Source=.;Initial Catalog=HomeWork_Session10_Amoozeshkade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HomeWork_14010229.Properties.Settings.HesabDari_Shakhsi_University_Final_ProjectConnectionString"
            connectionString="Data Source=.;Initial Catalog=HesabDari_Shakhsi_University_Final_Project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>